.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding-inline: var(--gutter);
}

.section {
  padding-block: clamp(4rem, 10vw, 8rem);
}

.section-title {
  grid-column: 2 / span 10;
  margin-block: 8rem;
  scroll-margin-top: 120px;
}
