.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(16px, 2vw, 32px);
  margin-inline: auto;
  max-width: 1340px;
  padding-inline: 1rem;
}

@media (max-width: 1340px) {
  .grid { max-width: 1068px; }
}
@media (max-width: 1068px) {
  .grid { max-width: 736px; }
}
@media (max-width: 736px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.col-span-1 { grid-column: span 1; }
.col-span-2 { grid-column: span 2; }
.col-span-3 { grid-column: span 3; }
.col-span-4 { grid-column: span 4; }
.col-span-5 { grid-column: span 5; }
.col-span-6 { grid-column: span 6; }
.col-span-7 { grid-column: span 7; }
.col-span-8 { grid-column: span 8; }
.col-span-9 { grid-column: span 9; }
.col-span-10 { grid-column: span 10; }
.col-span-11 { grid-column: span 11; }
.col-span-12 { grid-column: span 12; }
@media (max-width: 992px){.grid> *{margin-inline:auto}}

